.App {
    background-color: #adc4fc;
    min-height: 100vh;
}

.App-header {
    text-align: center;
    background: linear-gradient(to right, #3471ff, #4d8eff);
    display: flex;
    justify-content: center;
    font-size: 1.8rem; /* Adjust the font size as needed */
    color: white;
    padding: 2rem 0;
    margin-bottom: 50px;
}

.App-body {
    width: 100%;
    padding-bottom: 40px;
}

.Card {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add padding for spacing inside the card */
    border-radius: 15px;
    background-color: #dce6fc;
    max-width: 800px; /* Limit the maximum width of the card */
}

.Card:hover {
    transform: scale(1.01);
}

.Left-Section {
    background-image: linear-gradient(to bottom, #3471ff, rgb(202, 200, 200));
    width: 33%;
    border-radius: 15px;
}


.Right-Section {
    font-size: 1rem; /* Adjust as needed */
    padding: 20px; /* Add padding for spacing inside the section */
    width: 67%; /* Adjust the width accordingly */
    display: flex;
    flex-direction: column;
    line-height: 1.5; /* Adjust line height for better readability */
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px 35px;
}

.Social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto 2% auto; /* Center horizontally and add space at the bottom */
}


a {
    color: #282c34;
}

@media screen and (max-width: 1200px) {
    .Card {
        width: 70vw;
    }
}

@media screen and (max-width: 950px) {
    .Card {
        width: 80vw;
        flex-direction: column;
        padding: 20px; /* Add padding for spacing inside the card */
        text-align: center; /* Center content within the card */
    }

    .Left-Section {
        width: 100%;
    }

    .Right-Section {
        width: 100%;
        text-align: center; /* Center text content */
        padding: 20px; /* Add padding for spacing inside the section */
    }
    .App-header {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        padding: 10px; /* Adjust padding if needed */
    }

}
