
.App {
    background-color: #adc4fc;
    min-height: 100vh;
}

.App-header {
    text-align: center;
    background: linear-gradient(to right, #3471ff, #4d8eff);
    display: flex;
    justify-content: center;
    font-size: 1.8rem; 
    color: white;
    padding: 2rem 0;
    margin-bottom: 50px;
}

.App-body {
    width: 100%;
    padding-bottom: 40px;
}

.Card {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    border-radius: 15px;
    background-color: #dce6fc;
    max-width: 800px;
    transition: transform 0.3s ease; 
}

.Card:hover {
    transform: scale(1.01);
}

.Left-Section {
    background-image: linear-gradient(to bottom, #3471ff, rgb(202, 200, 200));
    width: 33%;
    border-radius: 15px;
}

.Right-Section {
    font-size: 1rem;
    padding: 20px; 
    width: 67%; 
    display: flex;
    flex-direction: column;
    line-height: 1.5; 
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px 35px;
}

.Social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto 2% auto; 
}

a {
    color: #282c34;
}

/* Responsive Styles */

@media screen and (max-width: 1200px) {
    .Card {
        width: 70vw;
    }
}

@media screen and (max-width: 950px) {
    .Card {
        width: 80vw;
        flex-direction: column;
        padding: 20px; 
        text-align: center; 
    }

    .Left-Section {
        width: 100%;
    }

    .Right-Section {
        width: 100%;
        text-align: center; 
        padding: 20px;
    }

    .App-header {
        font-size: 1.5rem;
        padding: 10px; 
    }

    .profile-image {
        margin: 20px auto; 
    }

    .icons {
        gap: 10px; 
    }
}
